/* Centrar el formulario en el cuerpo de la página */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Estilo general del formulario */
.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 350px;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    background-color: #ffea43;
    color: black;
    border: 1px solid #ffea43;
}

/* Alineación de título e ícono */
.title-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Esto alinea los elementos a los extremos */
    width: 100%;
}

/* Estilos del título */
.title {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
    color: black;
    text-align: left;
    margin: 0;
}

/* Contenedor del spinner */
.spinner-container {
    margin-left: 10px; /* Espacio entre el título y el spinner */
}

/* Animación del spinner */
.spinner {
  --size: 30px;
  --first: #005bba;
  --second: #fed500;
  width: 50px;
  height: 50px;
  position: relative;
  animation: spin 2s linear infinite;
}

.spinner::before,
.spinner::after {
  content: "";
  width: var(--size);
  height: var(--size);
  background: var(--first);
  border-radius: 100%;
  position: absolute;
  top: 10%;
  transform: translateY(-50%);
  animation: bounce 1s ease-in-out alternate infinite;
}

.spinner::after {
  background: var(--second);
  animation: bounce 1s 0.5s ease-in-out alternate infinite;
}

@keyframes bounce {
  50% {
    transform: translateX(-50%);
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* Estilo de los mensajes de texto */
.message, 
.signin {
    font-size: 14.5px;
    color: black;
}

.signin {
    text-align: center;
}

.signin a:hover {
    text-decoration: underline royalblue;
}

.signin a {
    color: #00bfff;
}

/* Contenedor flex para los inputs de Firstname y Lastname */
.flex {
    display: flex;
    width: 100%;
    gap: 15px;
}

/* Ajuste de estilo para las etiquetas de los inputs */
.form label {
    position: relative;
    width: 100%;
}

/* Estilo de los inputs */
.form label .input {
    background-color: #ff2631;
    color: #fff;
    width: 100%;
    padding: 20px 05px 05px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
}

/* Estilos para el texto flotante del input */
.form label .input + span {
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 10px;
    top: 0px;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
    top: 12.5px;
    font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
    color: #00bfff;
    top: 0px;
    font-size: 0.7em;
    font-weight: 600;
}

/* Estilo del botón de submit */
.submit {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
    background-color: #00A3DA;
}

.submit:hover {
    background-color: #00bfff96;
}
